.container{
	margin : auto;
	background: lightblue;
	width: 600px;
	padding: 20px;
}

#title{
	font-size: 50px;
	font-family: sans-serif;
	text-align: center;
}

.container ul {
	list-style: none;
}

.container ul li {
	background: black;
	color:white;
	font-size: 30px;
	font-weight: bold;
	padding: 20px;
}

.container ul li span {
	float: right;
}

.container ul li.active{
	background: lime;
	color : white;
}


.total {
	border-top:2px solid blue;
	padding: 10px;
}

.total h1 span{

	float: right;

}

